@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<body>
    <div class="row">
        <div class="col-lg-10">
             <h1>Welcome To serviceAssistant</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <h2>This App..</h2>
            <p>Was built to increase communication and transparency between service departments and their most valuable asset.. You.</p>    
    </div>
  
</div> </body>
</html>
