/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EEE;
    background-image: url(../images/ServiceDepartment1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1 {
    background-color: darkgray;
    color: black;
}
h2 {
    background-color: darkgray;
    color: black;
}
h3 {
    background-color: darkgray;
    color: black;
}
h4 {
    background-color: darkgray;
    color: black;
}
h5 {
    background-color: darkgray;
    color: black;
}
p {
    background-color: darkgray;
    color: black;
}
tr {
    background-color: darkgray;
    color: black;
}
td {
    background-color: darkgray;
    color: black;
}
dt {
    background-color: darkgray;
    color: black;
}
dd {
    background-color: darkgray;
    color: black;
}
div{
    text-align: center
}
form{
    align-content:center
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
